* {
        box-sizing: border-box;
}
html {
        height: 100%;
}
h1, p {
        padding:0; margin:0;
}
body {
        background: #0270a4;
        background: radial-gradient(#0777ae 13%,  #006ca0 26%, #00669c 39%,#005e93 52%,#015c90 65%);
        background: -moz-radial-gradient(#0777ae 13%,  #006ca0 26%, #00669c 39%,#005e93 52%,#015c90 65%);
        background: -webkit-radial-gradient(#0777ae 13%,  #006ca0 26%, #00669c 39%,#005e93 52%,#015c90 65%);
        background: -o-radial-gradient(#0777ae 13%,  #006ca0 26%, #00669c 39%,#005e93 52%,#015c90 65%);
        color: #757575;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        text-align: center;
}
.wrapper {
        width: 400px;
        margin: 260px auto;
}
#warn{position: relative;top:-150px;color:#dfdfdf;font-size: 13px;}
.wrapper h1 {display:block;text-shadow:-1px 1px 1px #424242;margin-top:30px;color:#dedede; }
.wrapper h5 {display:block;position:relative;top:-150px;right:0px;text-shadow:-1px 1px 1px #424242;margin-top:30px;color:#fff; }
.wrapper p{margin:10px;color:#f8ff8d; font-size: 12px;}
.wrapper a{display:block;margin-top:150px;color:#aaaaaa; font-size: 12px;text-decoration: none;}
.wrapper a:hover{color:#ececec; }
.wrapper .load-bar {
        width: 100%;
        height: 25px;
        border-radius: 30px;
        background: #dcdbd7;
        position: relative;
        box-shadow:
 0 1px 0 rgba(255, 255, 255, 0.8),  inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.wrapper .load-bar-inner {
        height: 99%;
        width: 0%;
        border-radius: inherit;
        position: relative;
        background:url(../images/loadbg.png);
        box-shadow:
 inset 0 1px 0 rgba(255, 255, 255, 1),  0 1px 5px rgba(0, 0, 0, 0.3),  0 4px 5px rgba(0, 0, 0, 0.3);
        animation: loader 5s linear infinite;
        -moz-animation: loader 5s linear infinite;
        -webkit-animation: loader 5s linear infinite;
        -o-animation: loader 5s linear infinite;
}

.wrapper #counter {
        position: absolute;
        background:url(../images/runner.png);
        left: -25px;
        top: -50px;
        width: 55px;
        height: 83px;

        animation: counter 5s linear infinite;
        -moz-animation: counter 5s linear infinite;
        -webkit-animation: counter 5s linear infinite;
        -o-animation: counter 5s linear infinite;
}
.wrapper #counter-text {
        animation: counter 5s linear infinite;
        -moz-animation: counter 5s linear infinite;
        -webkit-animation: counter 5s linear infinite;
        -o-animation: counter 5s linear infinite;
}

 @keyframes loader {
 from {
width: 0%;
}
to {
        width: 100%;
}
}
 @-moz-keyframes loader {
 from {
width: 0%;
}
to {
        width: 100%;
}
}
 @-webkit-keyframes loader {
 from {
width: 0%;
}
to {
        width: 100%;
}
}
 @-o-keyframes loader {
 from {
width: 0%;
}
to {
        width: 100%;
}
}

 @keyframes counter {
 from {
left: -27px;
}
to {
        left: 378px;
}
}
 @-moz-keyframes counter {
 from {
left: -27px;
}
to {
        left: 378px;
}
}
 @-webkit-keyframes counter {
 from {
left: -27px;
}
to {
        left: 378px;
}
}
 @-o-keyframes counter {
 from {
left: -27px;
}
to {
        left: 378px;
}
}